@page
@using AlfieCodes.Infastructure
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header">
    <h1>AlfieCodes</h1>
    <img src="https://cdn.stocksnap.io/img-thumbs/960w/DZ7DC58DSV.jpg">
</div>

@foreach (var blogPost in Model.BlogPosts)
{
        <div class="blog-post">
            <a class="card-title" asp-area="Posts" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString( "N" ))"><h3>@blogPost.Title</h3></a>
            <div class="card-text"><i class="far fa-clock"></i> @blogPost.ReadTime mins</div>
            <img src="@blogPost.Image" class="card-img-top" alt="...">
            <div class="card-text"><i>@blogPost.Summary ...</i></div>
            <small>@blogPost.CreatedAt.Humanize()</small>
            <br /><br />
            <a asp-area="Posts" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString("N"))" class="btn btn-primary">Read More</a>
        </div>
        <hr />
}

<div class="tag-cloud">
    <div class="tagcloud03">
        <ul>
            @foreach ( var tag in Model.TagCloud )
            {
                <li><a asp-page="/Tags" asp-route-tag="@tag.Name" >@tag.Name<span>@tag.Count</span></a></li>
            }
        </ul>
    </div>
</div>

@{
    var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}
<div style="margin: 0 auto; display: inline-block; text-align: center;">
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
       class="btn btn-primary @prevDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
       class="btn btn-primary @nextDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Next
    </a>
</div>
