@page
@using AlfieCodes.Infastructure
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach ( var blogPost in Model.BlogPosts )
{
    <div style="text-align: center;">
        <a asp-area="Posts" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString("N"))">@blogPost.Title</a>
        <div>@blogPost.Summary</div>
        <small>@blogPost.CreatedAt</small>
    </div>
    <br/>
}