@page "{query?}"
@using AlfieCodes.Infastructure
@using Humanizer
@model AlfieCodes.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form>
    <div class="md-form active-cyan-2 mb-3">
        <input name="query" class="search form-control" type="text" placeholder="Search" aria-label="Search" value="@Model.Query">
        <button asp-for="Query" type="submit" class="btn btn-success search-button" style="">Search!</button>
    </div>
</form>

@foreach (var blogPost in Model.BlogPosts)
{
    <a class="card-title" asp-area="Posts" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString( "N" ))">
        <div class="blog-post">
            <a class="card-title" asp-area="Posts" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString( "N" ))"><h3>@blogPost.Title</h3></a>
            <div class="card-text">@blogPost.ReadTime mins</div>
            <img src="@blogPost.Image" class="card-img-top" alt="...">
            <div class="card-text"><i>@blogPost.Summary ...</i></div>
            <small>@blogPost.CreatedAt.Humanize()</small>
        </div>
        <hr />
    </a>
}


@{
    var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}
<div style="margin: 0 auto; display: inline-block; text-align: center;">
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
       class="btn btn-primary @prevDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
       class="btn btn-primary @nextDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Next
    </a>
</div>