@page "{tag?}"
@using AlfieCodes.Infastructure
@using Humanizer
@model AlfieCodes.Pages.TagsModel
@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

@foreach (var blogPost in Model.BlogPosts)
{
    <a class="card-title" asp-area="Posts" asp-page="/Index" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString( "N" ))">
        <div class="blog-post">
            <a class="card-title" asp-area="Posts"  asp-page="/Index" asp-route-title="@blogPost.Title.Slugify()" asp-route-postId="@(blogPost.Id.ToString( "N" ))"><h3>@blogPost.Title</h3></a>
            <div class="card-text">@blogPost.ReadTime mins</div>
            <img src="@blogPost.Image" class="card-img-top" alt="...">
            <div class="card-text"><i>@blogPost.Summary ...</i></div>
            <small>@blogPost.CreatedAt.Humanize()</small>
        </div>
        <hr />
    </a>
}


@{
    var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}
<div style="margin: 0 auto; display: inline-block; text-align: center;">
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex - 1)"
       class="btn btn-primary @prevDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.BlogPosts.PageIndex + 1)"
       class="btn btn-primary @nextDisabled" style="margin: 0; display: inline-block; text-align: center;">
        Next
    </a>
</div>