@page "{title}-{postId:guid}"
@using HeyRed.MarkdownSharp;

@model AlfieCodes.Areas.Posts.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData[ "Title" ] = @Model.BlogPost.Title;

    string[] tags = @Model.BlogPost.Tags.Split( " " );

    var options = new MarkdownOptions
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        LinkEmails = true,
        QuoteSingleLine = true,
        StrictBoldItalic = true
    };

    var mark = new Markdown(options);
}

<div>
    <h1>@Model.BlogPost.Title</h1>
    <div>@Html.Raw( mark.Transform( Model.BlogPost.Body ) )</div>
    <small>@Model.BlogPost.CreatedAt</small>
    
    <div class="tagCloud" style="display: inline; padding-top: 50px;" >
        <br />
        @foreach ( var tag in tags )
        {
            <span style="text-align: center; position: relative; top:20px; background-color: gainsboro; padding: 5px; margin: 0.5em;" >
                @tag
            </span>
        }
    </div>

</div>