@page "{title}-{postId:guid}"
@using HeyRed.MarkdownSharp;
@using Humanizer

@model AlfieCodes.Areas.Posts.Pages.IndexModel
@{
    Layout = "Shared/_Layout";
    ViewData[ "Title" ] = @Model.BlogPost.Title;

    string[] tags = @Model.BlogPost.Tags?.Split( " " );


    var options = new MarkdownOptions
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        LinkEmails = true,
        QuoteSingleLine = true,
        StrictBoldItalic = true
    };

    var mark = new Markdown(options);
}
<div>
    <h1>@Model.BlogPost.Title</h1>
    <div>@Html.Raw(mark.Transform(Model.BlogPost.Body))</div>
    <small>@Model.BlogPost.CreatedAt.Humanize()</small>

    <div class="tagCloud" style="display: inline; padding-top: 50px;">
        <br />
        @if (tags != null)
        {
            @foreach (var tag in tags)
            {
                <span style="text-align: center; position: relative; top:20px; background-color: gainsboro; padding: 5px; margin: 0.5em;">
                    @tag
                </span>
            }
        }
    </div>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out ,'@Model.BlogPost.Title'!" data-lang="en" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>