@page "{title}-{postId:guid}"
@using HeyRed.MarkdownSharp;
@using Humanizer

@model AlfieCodes.Areas.Posts.Pages.IndexModel

@section metas {
    <meta name="description" content="@Model.BlogPost.Summary" />
    <meta name="title" content="@Model.BlogPost.Title" />
    <meta property="og:description" content="@Model.BlogPost.Summary" >
    <meta property="og:title" content="@Model.BlogPost.Title" >
    <meta property="og:image" content="@Model.BlogPost.Image" >
    <meta name="twitter:title" content="@Model.BlogPost.Title" >
    <meta name="twitter:description" content="@Model.BlogPost.Summary" >
    <meta name="twitter:image" content="@Model.BlogPost.Image" >
    <meta content="summary_large_image" name="twitter:card" >
    <meta name="twitter:label1" value="Readtime" />
    <meta name="twitter:data1" value="@Model.BlogPost.ReadTime minute(s)" />
}

@{
    Layout = "Shared/_Layout";
    ViewData[ "Title" ] = @Model.BlogPost.Title;

    //    string[] tags = @Model.BlogPost.Tags?.Split(", ");
    var options = new MarkdownOptions
    {
        AutoHyperlink = true,
        AutoNewLines = true,
        LinkEmails = true,
        QuoteSingleLine = true,
        StrictBoldItalic = true
    };
    var mark = new Markdown( options );
}
<style>
    image, img { max-width: 90vw !important; }
</style>

<div>
    <h1>@Model.BlogPost.Title</h1>
    <hr />
    <div>@Html.Raw( mark.Transform( Model.BlogPost.Body ) )</div>
    <hr />
    <small>@Model.BlogPost.CreatedAt.Humanize()</small>

    <div class="tagCloud" style="display: inline; padding-top: 50px;">
        <br />
        @if (Model.Tags != null)
        {
            @foreach (var tag in Model.Tags)
            {
                <a asp-page="/Tags" asp-route-tag="@tag.Value">
                    <span class="tag">
                        @tag.Value
                    </span>
                </a>
            }
        }
    </div>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out, '@Model.BlogPost.Title'!" data-lang="en" data-show-count="false" >Tweet</a>
<script async charset="utf-8" src="https://platform.twitter.com/widgets.js" ></script>

<div class="comment-container" >
    <h3>Comments:</h3>
    @foreach ( var comment in Model.Comments )
    {
        <div style="text-align: left" >
            <hr />
            <h8>@comment.Username</h8>
            <p>@comment.Body</p>
            <small>@comment.DateTime</small>
        </div>
    }

    <form class="justify-content-center" method="post" >
        <div class="form-group" >
            <label>
                Comment:
                <textarea asp-for="CommentRequest.Body" aria-describedby="usernameHelp" class="form-control" placeholder="Comment" type="text"></textarea>
            </label>
            <br />
            <button class="btn btn-primary" type="submit" >Submit</button>
        </div>
    </form>
</div>
